body{
    background-color: #fffbf5;
}

h1, h2, h3, a{
    color: #4f3302 !important;
}

.container{
    background-color: none;
}
.navbar{
    background-color: #FEF3E2 !important;
}

.btn{
    background-color: #FFB22C !important;
    border-color: #FA812F !important;
    color: #4f3302 !important;
}

.btn:hover{
    background-color: #ffd07e !important;
    border-color: #FA812F !important;
    color: #4f3302 !important;
}